<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet'>
	
    <title>Blog System</title>

    <!-- CSS link-->
    <link rel="stylesheet" href="Stylesheet.css">

</head>
<body>
    <h1>Your dashboard!</h1>
    <a href="/users/logout">Logout</a>

</body>
</html>